<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="model" default="a2_arm/arm.urdf"/>
<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />+
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
</include>
<rosparam file="a2_arm/arm.yaml" command="load"/> 
<param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -z 0.0 -model mobile" />
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"  args="joint_state_controller turn_controller shoulder_controller elbow_controller wristx_controller wristy_controller wristz_controller"/>

</launch>

